body {
    font-family: "Open Sans", sans-serif;
    background-color: #061E44;
    color: #7fafdf;
}

h6 {
    margin-top: 0;
}

.app__container {
    margin: 3% 5%;
}

.app__header {
    display: flex;
    justify-content: space-between;
    color: #7fafdf;
}

.app__header__title {
    letter-spacing: 0.23rem;
    font-weight: bold;
}

.app__header__title--grey {
    color: #7fafdf;
}

.app__header__text {
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 0;
}

.app__menu__img {
    height: 50px;
    width: auto;
}

.app__content {
    display: flex;
    margin-top: 20px;
}

.main-graph-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.main-graph-container__header {
    background-color: #082255;
    padding-top: 1em;
    padding-left: 1em;
}

.graph__title {
    color: #7fafdf !important;
    letter-spacing: 0.3rem !important;
    padding: 25px 25px 0 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.table-containers-wrapper {
    margin-top: 1em;
}

.table-container {
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.distance-graph-container {
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.right-panel {
    margin-left: 15px;
}

.hidden {
    display: none;
}


/* Dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Select-control {
    color: #7fafdf !important;
}

.Select {
    color: #7fafdf !important;
}

.Select-menu-outer {
    background-color: #061E44 !important;
    border: 1px solid #7fafdf !important;
}

.Select div {
    background-color: #061E44 !important;
}

.Select-menu-outer div:hover {
    background-color: rgba(255, 255, 255, 0.01) !important;
    cursor: pointer;
}

.Select-value-label {
    color: #7fafdf !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid #7fafdf !important;
    border-radius: 4px !important;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––– */


@media only screen and (max-width: 600px) {
    .histogram__direction {
        margin: 15px 0px 20px 0px;
    }
    .app__content {
        display: block;
    }
    .app__menu__img {
        height: 30px;
        width: auto;
    }
    .app__header {
        display: flex;
        flex-direction: column;
    }
    .app__header__desc {
        order: 1;
        text-align: center;
    }
    .app__header__logo {
        order: 0;
    }
    .app__header__title {
        font-size: 1.5em;
        padding-top: 15px;
    }
}